body {
  background-color: rgb(214, 238, 96);
}
/** menü start*/

#nav {
  background-color: white;
}

.container-fluid {
  font-size: 30px;
  width: 80em;
}

.container-fluid .navbar-brand {
  color: rgb(206, 204, 129);
  font-size: 30px;
}

.container-fluid .navbar-brand:hover {
  color: rgb(20, 20, 18);
}

#col {
  margin-left: 20em;
}

#col .navbar-nav a {
  color: rgb(206, 204, 129);
}

#col .navbar-nav a:hover {
  color: rgb(20, 20, 18);
}

#col .navbar-nav #bir {
  margin-left: 1em;
}

#col .navbar-nav #iki {
  margin-left: 1em;
}

#col .navbar-nav #üç {
  margin-left: 1em;
}

/** menü end */

/** ana sayfa start*/
/** ilk kısım start*/

#anasayfa .ilk-kisim {
  display: flex;
}

#anasayfa .ilk-kisim .img1 {
  width: 450px;
  height: 400px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 10em;
  margin-top: 10em;
}

#anasayfa .ilk-kisim .h1 {
  margin-left: 1em;
  margin-top: 8em;
  color: rgb(6, 6, 6);
}
/** ilk kısım end*/

/** ikinci kısım start*/
#anasayfa .ikinci-kisim {
  display: flex;
}

#anasayfa .ikinci-kisim .img2 {
  width: 450px;
  height: 400px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 10em;
  margin-top: 14em;
}

#anasayfa .ikinci-kisim .yazi {
  margin-left: 1em;
  margin-top: 10em;
  color: rgb(6, 6, 6);
}
/** ikinci kısım end*/

/** üçüncü kısım start*/
#anasayfa .ücüncü-kisim {
  display: flex;
}

#anasayfa .ücüncü-kisim .img3 {
  width: 450px;
  height: 400px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 10em;
  margin-top: 14em;
}

#anasayfa .ücüncü-kisim .yazi1 {
  margin-left: 1em;
  margin-top: 10em;
  color: rgb(6, 6, 6);
}
/** üçüncü kısım end*/
/** ana sayfa end*/

/** spor kısmı start*/
/** welcome start */
.well {
  width: 1050px;
  height: 550px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(206, 204, 129);
  margin-left: 12em;
  margin-top: 3em;
}

.img-fluids {
  width: 1050px;
  height: 550px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(206, 204, 129);
}

/** welcome end */
/** bilgilendirme kısmı start  */
.bilgilendirme {
  margin-top: 16em;
  display: flex;
  background-color: rgb(255, 255, 255);
}
.az .b1 {
  margin-top: 3px;
  font-size: 50px;
  color: rgb(4, 4, 4);
}

.az .res1 {
  margin-top: 2em;
  width: 330px;
}

.az .yaz1 {
  width: 27em;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  color: rgb(4, 4, 4);
}

.fazla {
  margin-left: 3em;
}

.fazla .res2 {
  width: 330px;
  margin-top: 6em;
}

.fazla .yaz2 {
  width: 27em;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  color: rgb(4, 4, 4);
}

.obez {
  margin-left: 3em;
}

.obez .res3 {
  width: 330px;
  margin-top: 6em;
}

.obez .yaz3 {
  width: 27em;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  color: rgb(4, 4, 4);
}
/** bilgilendirme kısmı end  */

/** Nasıl ve ne kadar spor yapılmalı kısmı start */
.saglik {
  margin-top: 16em;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.sağ {
  width: 500px;
  height: 500px;
  padding-top: 3em;
  margin-right: 2em;
}

.nasil {
  font-style: italic;
}

.nasil .Spor1 {
  color: rgb(4, 4, 4);
  text-decoration: underline;
}

.nasil .y1 {
  font-size: 1em;
  color: rgb(4, 4, 4);
}

.nasil .y2 {
  font-size: 1em;
  color: rgb(4, 4, 4);
}

.nasil .y3 {
  font-size: 1em;
  color: rgb(4, 4, 4);
}

.nasil .y4 {
  font-size: 1em;
  color: rgb(4, 4, 4);
}

.nasil .y5 {
  font-size: 1em;
  color: rgb(4, 4, 4);
}
/** Nasıl ve ne kadar spor yapılmalı kısmı end */

/** spor kısmı end*/

/** sağlıklı aktivite kısmı start */
.hobi-listesi {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 16em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}
/** sağlıklı aktivite kısmı end */

/** son kısım start*/
.son {
  margin-top: 16em;
  background-color: #ffffff;
  height: 100px;
}

.son a {
  text-decoration: none;
  color: black;
}

/** son kısım end*/
